footer.bg-gray-50.text-gray-700.text-sm.pt-8.pb-6.mt-3.border-t.border-gray-300
  .container.mx-auto.text-center
    p.mt-2.text-gray-500
      | © 2025 #{settingGeneral.copyright}. Tất cả các quyền được bảo lưu.
    ul.mt-4.flex.flex-wrap.justify-center.space-x-4
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Singapore
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Indonesia
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Thái Lan
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Malaysia
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Việt Nam
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Philippines
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Brazil
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") México
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Colombia
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Chile
      li
        a(class="text-gray-600 hover:text-gray-900 transition-colors duration-300" href="#") Đài Loan

    ul.mt-6.flex.justify-center.space-x-6
      li
        a(class="text-gray-500 hover:underline hover:text-gray-900 transition-colors duration-300" href="#") CHÍNH SÁCH BẢO MẬT
      li
        a(class="text-gray-500 hover:underline hover:text-gray-900 transition-colors duration-300" href="#") QUY CHẾ HOẠT ĐỘNG
      li
        a(class="text-gray-500 hover:underline hover:text-gray-900 transition-colors duration-300" href="#") CHÍNH SÁCH VẬN CHUYỂN
      li
        a(class="text-gray-500 hover:underline hover:text-gray-900 transition-colors duration-300" href="#") CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN

    .mt-8.flex.justify-center.items-center.space-x-4
      img.w-12.rounded-md.shadow-sm(href="#", src="/image/1.png", alt="Bộ Công Thương 1")
      img.w-12.rounded-md.shadow-sm(href="#", src="/image/2.png", alt="Bộ Công Thương 2")
      img.w-12.rounded-md.shadow-sm(href="#", src="/image/3.png", alt="Fingerprint")

    p.mt-6.text-gray-500
      | Công ty TNHH #{settingGeneral.copyright}
    p.mt-2.text-gray-500
      | Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 0347754069 - Email: 
      a(class=" text-blue-600 hover:underline transition-colors duration-300" href="mailto:tunglt072603@gmail.com") tunglt072603@gmail.com
    p.mt-2.text-gray-500
      | Chịu Trách Nhiệm Quản Lý Nội Dung: Lê Thanh Tùng
    p.mt-2.text-gray-500
      | Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015
    p.mt-2.text-gray-500
      | © 2015 - Bản quyền thuộc về Công ty TNHH #{settingGeneral.copyright}
