mixin box-head(title)
   .box-head.border-b-2.border-gray-200.bg-gray-50.p-4.rounded-t-lg.shadow-sm.mt-3.w-full
      h2.inner-title.text-2xl.font-bold.text-gray-800.tracking-wide
         | #{title}
